table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }


.mat-column-id {
  width: 4%;
  // border: 1px solid gray;
}

.mat-column-nome {
  width: 25%;
  // border: 1px solid gray;
}

.mat-column-email {
  width: 25%;
  // border: 1px solid gray;
}

.mat-column-status {
  width: 8%;
  // border: 1px solid gray;
}

.mat-column-created_at {
  width: 8%;
  // border: 1px solid gray;
}
  
.mat-column-icon {
  width: 8%;
  // border: 1px solid gray;
}

mat-icon {
  margin-right: 3%;
}


  