html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
}

.main-container {
    position: absolute;
    top: 64px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}


// Begin custom buttom Fab
button.mat-fab {
    position: fixed;
    bottom: 4%;
    right: 2%;
}
// End custom buttom Fab


mat-icon {
    cursor: pointer;
}


// Begin custom text
.text-success {
    font-size: 20px;
    font-weight: 700;
    color: rgb(8, 85, 8);
}

.text-danger {
    font-size: 20px;
    font-weight: 700;
    color:rgb(136, 6, 6);
}
// End custom text
