<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a> 
        
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard/administradores']">
            <mat-icon class="sidenav-icon">person</mat-icon> {{ 'Administradores' | translate }}
        </a> 
        
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard/clientes']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Clientes' | translate }}
        </a> 
    </mat-nav-list>
</div>
